body {
  background: #172d44;
}

.container {
  display: flex;
  gap: 30px;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  width: 400px;
}

.card h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.save {
  background: #4f46e5;
  color: white;
}

.load {
  background: #10b981;
  color: white;
  margin-left: 10px;
}

.pdf {
  background: #ef4444;
  color: white;
  margin-left: 10px;
}

.preview {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  width: 450px;
  color: #000;   /* 👈 makes all text black */
}

